.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    border: solid 1px black;
    font-weight: bold;
  }
  .container {
    height: 100%;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto auto 100px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "s s s s c1 c1 c1 c1 c1 c1 c1 c1"
        "s s s s c2 c2 c2 c2 c3 c3 c3 c3"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.sidebar {
    grid-area: s;
}

.content-1 {
    grid-area: c1;
}

.content-2 {
    grid-area: c2;
}

.content-3 {
    grid-area: c3;
}

.footer {
    grid-area: f;
}
  
  html, body {
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }
  
  .container > .header {
    /* background-color: #745bdb;	 */
    background: linear-gradient(to right, #684fd1, #8f7ce6);

  }
  
  .container > .content {
    background: linear-gradient(to bottom right, #6956d5,#3e85ed, #3bd5dc);
  }
  
  .container > .sidebar {
    background: linear-gradient(to top right, #25a699, #40dcd2);
  }
  
  .container > .footer {
    background: linear-gradient(to bottom right, #684fd1, #8f7ce6);
  }

  