body{
    margin:0;
    font-family: Arial,sans-serif;
}

main{
    background-color: #fff;
    width:457px;
    margin:150px auto;
}

.profile-picture{
    height: 240px;
    width: 240px;
    object-fit: cover;
}

.tweet{
    display: flex;
}

.interractions{
    padding:10px 0;
    display: flex;  
}

.username{
    font-weight: 800;
    font-size: 40px;
}

.content{
    margin-left:30px;
    padding:18px;
}

.column{
    margin: 10px 0;
}

.column-2{
    margin: 10px 100px;
}
.description{
    font-size: 32px;
    font-weight: 700;
    margin-bottom:5px;
}

span{
    font-weight: lighter;
    color:grey;
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
}

i{
    color:black;
    vertical-align: middle;
}

.fa{
    font-size: 25px;
}

.info{
    line-height: 1em;
}

img{
    width:30px;
    height:25px;
    vertical-align: middle;
}